/* dashboard center */
  .tip {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 2rem;
    width: 100%;
  }
  .tip2 {
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
  }
    .flex2{
     float: right;
    }
    .fac{
      margin-top: 1.2rem;
      font-weight: 500;
      font-size: 1.1rem;
      font-family: 'PT Serif', serif; 

    }
    .lst_read{
        margin-top: 1.2rem;
        margin-bottom: -0.4rem;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'PT Serif', serif;

    }
    .lst_read_content{
        background-color: white;
        box-shadow: 0 0 0.1rem 7px #0b5cd6e7;
        height: 8rem;
        width: 95%;
        border-radius: 1rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-self: center;

    }
    .ferf{
        font-size: 1.04rem;
        font-family: 'Crimson Text', serif;

    }
    .read{
        height: 8rem;
    }
    .lst_read_content_text{
        display: flex;
        align-self: center;
        margin-left: 1rem;
    }
    .lst_read_content_text a{
        display: block;
        margin-bottom: 1rem;
        color: #0b5cd6e7;
    }.lst_read_content_text a:hover{
        color: red  ;
    }
    .lstq{
      display: inline-flex;
    }
    .gng{
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
    .overall{
      overflow: hidden;
    }
    .dashcontent{
      margin-top: 4rem;
    }
    @media (max-width: 900px) {
      .container1 {
        display: flex;
      }
      .right{
        display: none;
      }
    .lst_read_content{
        width: 100%;
        grid-template-columns: 25% 45% 30%;
        padding: 1.3rem;


    }
    .lst_read_content_text{
      margin-left: 2.5rem;
    }
    .ferf{
      font-size: 0.7rem;

  }
   
    }
    .flair{
      color: green;
      font-size: 2rem;
      font-family: 'Times New Roman', Times, serif;
    }
    