* {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 96vw;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
  margin: 1rem 0rem;
}
h4 {
  color: rgb(150, 163, 175);
}
.red {
  color: red;
}
a {
  font-size: 16px;
}
.brand {
  display: flex;
}
.acct {
  margin-right: 3rem;
  font-family: "Bree Serif", serif;
  gap: 200rem;
}
.acct a {
  color: black;
}
.acct a:nth-child(2) {
  color: rgb(24, 88, 172);
  font-size: 1.3rem;
  margin-left: 1rem;
}
.acct a:nth-child(1) {
  border: black solid 0.1rem;
  padding: 10px;
}
.navsaw {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.navsaw a {
  text-decoration: none;
  color: black;
}
/* search center  */
.search {
  outline-offset: 0px;
  padding: 0.2rem 0rem 0.2rem 0.5rem;
  border: 0.1rem solid black;
  border-radius: 10rem;
  width: min(40vw, 20rem);
  padding-left: 10px;
  font-size: 1rem;
  font-family: inherit;
}
.searchitem {
  width: 100%;
  font-size: 15px;
}
.searchspace {
  margin-bottom: 0rem;
  margin-top: 1rem;
  border: 2px solid black;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  box-sizing: border-box;
  border-radius: 18px;
}
/* search right  */
.right-search {
  padding: 2rem 0rem 0rem 2rem;
}
.features {
  line-height: 31px;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.reslt {
  font-size: 1.6rem;
}
.frm10 {
  margin-top: 1.4rem;
}
/* dashboard content  */
.container1 {
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 15vw 70vw 15vw;
  height: 100%;
  position: relative;
}
.container2 {
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 15vw 85vw;
  height: 100%;
  position: relative;
}
/* dashboard left */
.one {
  position: relative;
}
.left {
  background-color: rgb(255, 255, 255);
  padding: 2rem;

  box-shadow: 7px 130px rgb(247, 247, 247);
}
.left-section {
  padding: 15px 0rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-block-start: 1.6vh;
  /* opacity: 50%; */
  color: rgb(7, 7, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.left-section img,
.l img {
  width: 25px;
  height: 25px;
}

svg {
  fill: red;
}
.h4 {
  font-size: 1.3rem;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #0b5cd6e7;
}
ul {
  margin-block-start: 4vh;
  padding-inline-start: 0px;
}
.ul {
  margin-block-start: 1vh;
}
.ul li {
  margin: 2rem 0rem;
  font-size: 1rem;
}
.ul a {
  color: rgb(39, 48, 39);
  font-size: 0.9rem;
}
.Settings {
  position: absolute;
  top: max(80vh);
  width: 80%;
}
.blue {
  filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(246deg)
    brightness(100%) contrast(156%);
}
.center {
  padding: 3rem;
}

/* all courses section  */
.top {
  margin-bottom: 2rem;
  margin-top: -2rem;
  color: black;
  font-size: 15rem;
  text-align: center;
  color: #0b5cd6e7;
}
main {
  position: relative;
}
main .courselist {
  display: grid;
  margin-top: 0rem;
  grid-template-columns: auto auto auto auto;
  font-size: 1rem;
  background-color: #0b5cd6e7;
  font-family: "Courier New", Courier, monospace;
}
.courselist * {
  color: black;
  color: white;
  text-align: center;
  height: 35px;
  align-items: center;
  background-color: transparent;
}
main .courselist li {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms ease-in-out;
  font-weight: 600;
}
main .courselist li:hover {
  font-size: 20px;
  background-color: white;
  color: black;
}
.content {
  border: 1px solid;
  /* padding: 10px; */
  background-color: rgb(247, 247, 247);
}
.section {
  box-sizing: border-box;
  height: 18rem;
}
main {
  font-family: "Lora", serif;
}
.sect {
  display: grid;
  text-align: center;
  margin-left: -1rem;
  grid-template-columns: calc(81vw / 3) calc(81vw / 3) calc(81vw / 3);
}
.l .fixed {
  font-size: 1.7rem;
  position: absolute;
  top: 8rem;
  left: 1rem;
}
a.fixed:visited {
  color: black;
}
.sect .section img {
  width: 200px;
  height: 10rem;
  margin-top: 1rem;
}
.section div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  /* padding-top: 0.7rem; */
}
.section div:first-of-type {
  margin-top: 1.2rem;
}
.section div:last-of-type {
  margin-top: 0.4rem;
  margin-bottom: 1.2rem;
}
/* available courses sumbit  */
.allcourse {
  display: flex;
  justify-content: center;
  color: black;
}
.allcourse button {
  background-color: #0b5cd6e7;
  padding: 0.4rem;
  justify-content: center;
  width: 15rem;
}
.availableButton {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.section a{
  color: #0b5cd6e7;
}
.section a:hover{
  color: red;
}

/* logout page  */
.outbody{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.block1{
  background-color: #0b5cd6e7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24vw;
  color: white;
  height: 6vh;
  border: 2px solid black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 15px;
}
.block2{
  background-color: #0b5cd6e7;
  width: 10vw;
  color: white;
  height: 4vh;
  border: 2px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.logout{
  width: 20vw;
  height: 30vh;
}
.vrt1{
  margin-top: 1rem;
}
.vrt{
  color: #0b5cd6e7;
  font-size: 0.8rem;
}
.vrt:hover{
  color: red;
}
.lkk{
  position: fixed;
  width: 25rem;
  height: 18rem;
  top: 3rem;
  left: 10rem;
}
.lkl{
  position: fixed;
  right: 10rem;
  width: 25rem;
  height: 18rem;
  top: 3rem;
}
.coursedetails{
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
}
.coursedet1{
  margin: auto;
  font-size: 15px;
  opacity: 70%;
  text-align: justify;
}
.enrol{
  text-align: center;
  width: 40vw;
  margin: 3rem auto;
  border: #0b5cd6e7 2px solid;
  padding: 3px;
  color:#0b5cd6e7;
}
.enrolled{
  border: #4f555de7 2px solid;
  color:white;
  background-color: #4f555de7;
}
.yyy{
  position: relative;
  margin-left: 2rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 18px;
}
.dwl{
  position: absolute;
  top: 0rem;
  right: 10rem;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
.none {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Crimson Text', serif;
  width: 65vw;
  margin: auto;
  text-align: justify;
}
.container2{
  margin: 0;
  height: 100vh;
  padding: 0px;
  scrollbar-width: 1px;
  }
  ::-webkit-scrollbar{
      display: none;
  }
.one{
  margin: 0;
} 
.left{
  margin: 0;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 7px 130px rgb(247, 247, 247);
}
.center{
  margin: 0;
  overflow-x: hidden;
}
.left-section{
  text-align: center;
  padding: 15px 0rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-block-start: 1.6vh;
  color: rgb(7, 7, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
label.mlm{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
}
.selection {
  background-color: #0b5cd6e7;
  color: white;
  border-radius: 12px;
  }
  @media (max-width: 800px) {
    .container2 {
      display: flex;
    }
    .container1 {
      display: flex;
    }
    .right{
      display: none;
    }
    .mlm {
      font-size: 0.9rem;
    }
    .mvr3{
      font-size: 0.1rem;
    }
    label.mlm{
      font-size: 1rem;
    }
    
    }
    .master{
      margin-top: 3rem;
      display: grid;
      grid-template-columns: 45vw 45vw;
    }
    .master div{
      height: 3.2rem;
    }

