body{
    box-sizing: border-box;
    overflow-x: hidden;
}
.brand{
    color: black;
}
.acct a, .brand{
    color: white;
}
.acct a{
    border: 2px solid white;
}
.faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 100vw;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
}
.flex_bttn{
    display: flex;
    column-gap: 1.3rem;
    width:  max(35vw, 20rem);
    align-items: center;
    padding-left: 3vw;
    border: 2px solid #0b5cd6e7;
    height: 3.2rem;
    background-color: rgba(210, 210, 210, 0.521);
    box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(187, 187, 187, 0.229);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.creet{
    width: 32px;
}
.creet1{
    width: 19px;
}
.dropText1{
    display: flex;
    column-gap: 1.3rem;
    background-color: white;
    font-size: 0.9rem;
    height: 8rem;
    color: black;
    width:  max(35vw, 20rem);
    box-shadow: 0rem 0rem 0.5rem 0.01rem rgba(0, 0, 0, 0.314);
    border-radius: 6px;
    padding: 1.5vw 2vw 0vw 2vw;
    box-sizing: border-box;
    margin-bottom: 2rem; 
    transition: all 600ms ease-in-out;

}
.navsaw{
    background-color: rgba(0, 0, 0, 0.218);
    margin-bottom: 0.6rem;

}
.sdsd{
    margin-top: 1rem;
    height: 1rem;
    
    border: none;

}
.contact_lasu{
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0rem -1rem 10rem 0.01rem rgba(0, 0, 0, 0.314);
}
.contact_lasu p{
    margin: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
}




#calendar {
  font-size: 20px;
  font-weight: bold;
  color: blue;
  text-align: center;
}
#time {
  font-size: 16px;
  color: green;
  text-align: center;
}