/* my courses  */
.centrb{
    margin: 1.5rem 0rem 0rem 2rem;
    border-radius: 1rem;
    padding: 3rem;
  }
  .table1{
    width: 100%;
    padding: 0rem; 
    background-color: white;
    font-size: 1rem;
    border-spacing: 1rem;
  }
  .tr1{
    margin: 1rem;
    border: 5px solid black;
    box-shadow: 0px 0px 1rem 0.3rem #60614b36;
    border-radius: 1rem;
  }
  .tr1 td{
    height: 4rem;
    padding: 1.4rem;
  }
  .tr1:hover{
    border: none;
    box-shadow: 0rem 0rem 0.4rem 0.4rem #60614b51;
  }
  .tr1:nth-child(1){
    height: 4rem;
    background-color: #ffffffe7;
    font-size: 1rem;
    border: none;
    box-shadow: none;
  }
  .tr1 a{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
  }
  .tr1 a:hover{
    color: red;
  }
  @media (max-width: 800px) {
    .container2 {
      display: flex;
    }
    .centrb{
      padding: 0rem;
    margin: 0.5rem 0rem 0rem 1rem;

    }
    .table1{
      padding: 0rem; 
      font-size: 0.7rem;
      border-spacing: 0.3rem;

    }
    .tr1{
      margin: 0.3rem;
      box-shadow: none;
    }
    .tr1 td{
      padding: 0.7rem;
    }
    .tr1 a{
      font-size: 0.7rem;
    }

  }
  .sym{
    width: 29px;
  }